{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Portfolio{% endblock %}</h1>
{% endblock %}

{% block content %}

<form method = "post" action = "{{ url_for('portfolio.portfolio' ) }}" class="new-portfolio">
    {{ form.hidden_tag() }}

    <div class="container add-portfolio-form form-container">
        <div class="col">
            <p class="fw-light fs-2 " style = "margin-top: 20px;text-align: center; color: rgb(250,105,18);" >Create New Portfolio</p>
        </div>
        <div class="col mt-4">
            {{ form.portfolio_name.label(class="form-label fw-lighter ml-2 mb-3")}}
            {{ form.portfolio_name(class="form-control form-input", placeholder = "Portfolio Name")}}
            
            {% with errors = get_flashed_messages(category_filter=["name-error"]) %}
            {% if errors %}
                {% for msg in errors %} 
                <p class = "auth-error-message" >
                    {{ msg }}
                </p>
                {% endfor %}
            {% endif %}
            {% endwith %}   
        </div>
        <div class="col mt-4">
            {{ form.total_cost.label(class="form-label fw-lighter ml-2 mb-3")}}
            {{ form.total_cost(class="form-control form-input", placeholder = "Total Cost")}}
            {% with errors = get_flashed_messages(category_filter=["cost-error"]) %}
                {% if errors %}
                    {% for msg in errors %} 
                    <p class = "auth-error-message" >
                        {{ msg }}
                    </p>
                    {% endfor %}
                {% endif %}
            {% endwith %}  

        </div>
        <div class="row">
            <div class="col-4"></div>
            <div class="col-8 mt-4">
                    <button onclick = "hideForm(['.add-portfolio-form'])" class="button cancel-button form-btn mr-2" style = "background:none; color:white;" type="button"> CANCEL </button>
                    {{ form.submit(class="button form-btn")}} 

                    
            </div>
        </div>
    </div>
</form>


<div class="container-fluid content-container">
        <div class="container-sm" style = "background: #212121; height: 600px; border-radius: 50px; margin-top: 10vh;">
            <p class="fw-lighter fs-1" style = "padding: 50px; text-align:center;">Manual Transactions</p>
           
            <div class="container button-container" style = "max-width: 35%">
                <button onclick = "showForm('.add-portfolio-form')"
                class = "add-button" style = "border:none; background: none;">
                <div class="row">
                    <div class="col">
                        <p class="fw-lighter fs-2 " style = "color: rgb(250,105,18);" >Create New Portfolio</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col" >
                        <p class="fw-lighter fs-6 button-comment" style = "color:white;"> Add a manual crypto portfolio for manual tracking.
                        </p>
                    </div>
                </div>
                </button>

            </div>
        </div>
        


</div>
<script src="{{url_for('static', filename='events.js')}}"></script>

{% endblock %}
