{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Portfolio{% endblock %}</h1>
{% endblock %}

{% block content %}

<form method = "post" class="new-portfolio">
    <div class="container add-portfolio-form-container form-container">
            <div class="col">
                <p class="fw-light fs-2 " style = "margin-top: 20px;text-align: center; color: rgb(250,105,18);" >Create New Portfolio</p>
            </div>
            <div class="col mt-4">
                    <label for="portfolioName" class="form-label fw-lighter ml-2 mb-3" style = "letter-spacing: 2px;">PORTFOLIO NAME</label>
                    <input id="portfolioName" name = "portfolioName" type="text" class="form-control form-input" 
                    placeholder= "Portfolio Name" required>
            </div>
            <div class="col mt-4">
                    <label for="totalCost" class="form-label fw-lighter ml-2 mb-3" style = "letter-spacing: 2px;"> TOTAL COST </label>
                    <input id="totalCost" name = "totalCost" type="text" class="form-control form-input" 
                    placeholder= "Total cost" required>
            </div>
            <div class="row">
                <div class="col-4"></div>
                <div class="col-8 mt-4">
                        <button class="button cancel-button form-btn mr-2" style = "background:none; color:white;" type="button"> CANCEL </button>
                        <button class="button form-btn" type ="submit" > SAVE </button>
                </div>
            </div>
    </div>
</form>


<div class="container-fluid content-container">
        <div class="container-sm" style = "background: #212121; height: 600px; border-radius: 50px; margin-top: 10vh;">
            <p class="fw-lighter fs-1" style = "padding: 50px; text-align:center;">Manual Transactions</p>
           
            <div class="container button-container" style = "max-width: 35%">
                <button class = "add-button" style = "border:none; background: none;">
                <div class="row">
                    <div class="col">
                        <p class="fw-lighter fs-2 " style = "color: rgb(250,105,18);" >Create New Portfolio</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col" >
                        <p class="fw-lighter fs-6 button-comment" style = "color:white;"> Add a manual crypto portfolio for manual tracking.
                        </p>
                    </div>
                </div>
                </button>

            </div>
        </div>
        


</div>
<script src="{{url_for('static', filename='events.js')}}"></script>

{% endblock %}
