{% extends 'base.html' %}

{% block header %}
{% endblock %}

{% block content %}
<div class="container-sm p-3" style = "max-width: 700px; margin-top: 10vh">

    <p class="fs-2" style = "text-align: center;">We Sent Message To Your E-mail Address.</p>
    <p class="fs-4" style= "text-align: center;" >Follow instructions to reset your password.</p>
    <div class="object-center">
            <button class="btn btn-create-account fs-5" type="submit" style ="color: white; width: 30vh" > Return to Homepage</button>
    </div>
</div>

{% endblock %}