{% extends 'base.html' %}
{% block header %}
{% endblock %}



{% block content %}

<div class="container-md p-3" style = "max-width: 600px; margin-top: 10vh">
    <div class="auth-form">
        <p class="fs-2 fw-lighter" style = "text-align: center;">Log in</p>

        <form method = "post">

            {{ form.hidden_tag() }}
            <div class="mb-3">
            
            {{ form.email.label(class="form-label") }} 
            {{ form.email(class="form-control") }} 
            {% with errors = get_flashed_messages(category_filter=["email-error"]) %}
                {% if errors %}
                    {% for msg in errors %} 
                    <p class = "auth-error-message" >
                        {{ msg }}
                    </p>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            </div>

            <div class="mb-3">
            {{ form.password.label(class="form-label") }} 
            {{ form.password(class="form-control") }} 
            {% with errors = get_flashed_messages(category_filter=["password-error"]) %}
                {% if errors %}
                    {% for msg in errors %} 
                    <p class = "auth-error-message" >
                        {{ msg }}
                    </p>

                    {% endfor %}
                        <ul class=flashes>
                        {% for category, message in messages %}
                        <li class="{{ category }}">{{ message }}</li>
                        {% endfor %}
                        </ul>
                {% endif %}
            {% endwith %}


                <p class="text-muted">
                    <a href="{{ url_for('auth.forgot') }}" class="text-reset">Forgot password</a>
                </p>
                {{ form.submit(class="btn btn-create-account btn-outline-dark")}} 
            </div>

    
            
        </form>
     </div>  
    </div>


{% endblock %}