{% extends 'base.html' %}

{% block header %}
{% endblock %}

{% block content %}
<div class="container-md p-3" style = "max-width: 600px; margin-top: 10vh">
    <div class="auth-form">
            <p class="fs-2 fw-lighter" style = "text-align: center;">Register </p>

        <form method = "post">
                {{ form.hidden_tag() }}

            <div class="mb-3">
                {{ form.name.label(class="form-label") }}
                {{ form.name(class="form-control") }}
            </div>

            <div class="mb-3">
                {{ form.email.label(class="form-label") }}
                {{ form.email(class="form-control") }}
                {% with errors = get_flashed_messages(category_filter=["email-error"]) %}
                    {% if errors %}
                        {% for msg in errors %} 
                            <p class = "auth-error-message" >
                            {{msg}}
                            </p>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </div>

            <div class="mb-3">
                    {{ form.password.label(class="form-label") }}
                    {{ form.password(class="form-control") }}
                    {% with errors = get_flashed_messages(category_filter=["password-error"]) %}
                    {% if errors %}
                        {% for msg in errors %} 
                            <p class = "auth-error-message" >
                            {{msg}}
                            </p>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </div>

            <div class="mb-3">
                    {{ form.confirm.label(class="form-label") }}
                    {{ form.confirm(class="form-control") }}
                    {% for field in errors %}
                    {% for message in field.messages %}
                    <p class = "auth-error-message" > {{ message }}</p>
                    {% endfor %}
                  {% endfor %}
                    <!-- {% with errors = get_flashed_messages(category_filter=["password-error"]) %}
                    {% if errors %}
                        {% for msg in errors %} 
                            
                            {{msg}}
                            </p>
                        {% endfor %}
                    {% endif %}
                {% endwith %} -->
            </div>

            <!-- <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="check-out">
                <label class="form-check-label" for="check-out" required>Check me out</label>
            </div> -->
            {{ form.submit(class="btn btn-create-account btn-outline-dark")}} 

            <!-- <button type="submit" class="btn btn-primary">Submit</q> -->
        </form>
    </div>
</div>

{% endblock %}